
<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    {% for carousel_image in carousel_images %}
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="{{forloop.counter | add:'-1'}}" class="{% if forloop.counter == 1 %}active{% endif %}" aria-current="{% if forloop.counter == 1 %}true{% endif %}" aria-label="Slide {{forloop.counter}}"></button>
    {% endfor %}
  </div>
  <div class=""carousel-inner">
    {% for carousel_image in carousel_images %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
      <img src="{{carousel_image.image.url}}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{carousel_image.title}}</h5>
        <p>{{carousel_image.caption}}</p>
      </div>
    </div>
    {% endfor %}


   </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>