{% extends 'base/base.html' %}


{% block title %}
Carousels
{% endblock%}

{% block content%}

<div class="container-fluid pt-5 mt-3">

    <div class="d-flex justify-content-between align-item-center mb-4">
        <h3 class="fw-bold">Carousel Images</h3>
        
        <a href="" class="btn add-button">+ Add Image</a>
    </div>

<div class="row carousel-card gt-4">
    {% for carousel_image in carousel_images %}
    {% include 'mainapp/includes/carouselCard.html' %}
    {% empty %}
    <p>No Carousel images added yet.</p>
    {% endfor %}
</div>

</div>

{% endblock%}